@media only screen and (max-width: 1000px) {
    .menu__logo,
     .menu__profile,
      .list__navigation li .navigation-link img,
      .rodape__logo,
      .rodape__links {
        display: none;
    }

    .menu {
        height: 120px;
        padding: 0 20px;
    }

    .list__navigation {
        flex-wrap: wrap;
        justify-content: center;
    }

    .apresentacao__header h2 {
        font-size: 1rem;
    }

    .apresentacao__titulo h1 {
        font-size: 1.5rem;
    }

    .formacao__cursos {
        width: 90%;
    }

    .lista-cursos {
        grid-area: 2 / 1 / 3 / 3;
        font-size: .8rem;
    }

    .rodape__menu {
        flex-wrap: wrap;
        align-items: start;
        gap: 2rem;
    }
}